<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="/vendor/css/vendor.bundle.css">
</head>
<body>
    hi

<script src="/vendor.bundle.js"></script>
<script src="/bundle.js"></script>
</body>
</html>